# Ignore all output folders
*/output

# Ignore all pipeline out files
*/*.out

# Ignore samplesheets
AIpipe/samplesheet.csv

# Ignore config updates
*/config

# Ignore env
*/env

# Ignore Genopipe remove.txt
Genopipe/remove.txt
